/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
} */

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #FF6347;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  transition: background-color 0.3 ease;
}

.search-bar button:hover {
  background-color: #FF4500;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}

.recipe-item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.recipe-item a {
  color: #333;
  text-decoration: none;
}

.recipe-details {
  text-align: center;
  padding: 20px;
} 

.recipe-details img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.recipe-details li {
  margin: 5px 0;
}

.recipe-details button {
  margin-top: 20px;
padding: 10px 20px;
background-color: #FF6347;
color: white;
border: none;
border-radius: 8px;
transition: background-color 0.3 ease;
cursor: pointer;
}

/*  navbar styling */

.navbar {
 margin: 25px;
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #575757;
}

/* create recipe styling */

.create-recipe-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
} */

/* input:focus, textarea:focus {
  border-color: #FF6347;
  outline: none;
} */
.create-input, .create-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.create-input:focus, .create-textarea:focus { 
  border-color: #FF6347;
  outline: none;
}



.submit-button {
  background-color: #FF6347;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #e5533d;
}

.categories-list {
  display: flex; 
  flex-wrap: wrap; 
  list-style-type: none; 
  padding: 0; 
  justify-content: center; /* Center the categories */
}

h2 {
  text-align: center;
}

.category-item {
  margin: 10px; 
  text-align: center; 
  width: 150px; /* Set a fixed width for category items */
}

.category-item img {
  max-width: 100%; /* Ensure images fit within the category item */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  max-height: 100px; /* Set a maximum height for images */
}

.category-item h3 {
  color: #333; 
}

.category-item a {
  text-decoration: none; 
}

.category-item a:focus {
  outline: none; 
}

/* login , register pages */




